@page
@model IndexModel
@{
    ViewData["Title"] = "首页";
}

<table class="table table-striped">
    <tbody>
        @foreach (var fr in Model.FileResources)
        {            
            <tr>
                <td>
                    <a asp-page="Video" asp-route-id="@fr.Id">@fr.Name</a>
                </td>
                <td>
                    <button class="btn btn-primary">传送链接</button>
                </td>
            </tr>
        }
    </tbody>
</table>