@page
@model PubResModel
@{
    ViewData["Title"] = "发布资源";
}
<h2>发布资源</h2>

<form method="post">

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group">
        <label>资源名称</label>
        <input required class="form-control" asp-for="FileResource.Name" />
        <span asp-validation-for="FileResource.Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>大小</label>

        @{
            var size = @Model.FileResource.Size / (1024 * 1024);
            <input class="form-control" readonly value="@(size)MB" />
        }
    </div>

    <button class="btn btn-primary" type="submit">保存</button>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}