@page "/"
@inject HttpClient Http
@inject NavigationManager NavigationManager

<h3>媒体库</h3>
<br />

@if (_videos == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-striped">
        <tbody>
            @foreach (var v in _videos)
            {
                var target = Uri.EscapeUriString($"/video/{v.Name}");

                <tr>
                    <td>
                        <a href="@target">@v.Name</a>
                    </td>
                    <td>
                        <button class="btn btn-primary" @onclick="@(() => GenPortalLink(target))">传送链接</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private VideoInfo[] _videos;

    protected override async Task OnInitializedAsync()
    {
        _videos = await Http.GetFromJsonAsync<VideoInfo[]>("videos");
    }

    private void GenPortalLink(string target)
    {
        var escapedTarget = Uri.EscapeDataString(target);
        Console.WriteLine(escapedTarget);
        NavigationManager.NavigateTo($"link?target={escapedTarget}");
    }
}
