@page "/"
@inject HttpClient Http
@inject NavigationManager NavigationManager

<h3>媒体库</h3>
<br />

@if (_videos == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-striped">
        <tbody>
            @foreach (var v in _videos)
            {
                var link = $"video/{v.Name}";

                <tr>
                    <td>
                        <a href="@link">@v.Name</a>
                    </td>
                    <td>
                        <button class="btn btn-primary" @onclick="@(() => GenPortalLink(link))">传送链接</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private VideoInfo[] _videos;

    protected override async Task OnInitializedAsync()
    {
        _videos = await Http.GetFromJsonAsync<VideoInfo[]>("videos");
    }

    private void GenPortalLink(string link)
    {
        NavigationManager.NavigateTo($"link?reslink={link}");
    }
}
