@page "/login"
@attribute [AllowAnonymous]
@inject UniverseAuthStateProvider AuthStateProvider
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime
@namespace Microsoft.AspNetCore.WebUtilities

<h3>平行宇宙传送门</h3>

<EditForm Model="_loginInfo" OnSubmit="HandleSubmit">
    <DataAnnotationsValidator />
    <div class="form-group">
        <input id="userName"
               class="form-control"
               required
               placeholder="用户名"
               @bind="_loginInfo.UserName" />
    </div>
    <div class="form-group">
        <input id="pwd"
               type="password"
               class="form-control"
               required
               placeholder="密码"
               @bind="_loginInfo.Password" />
    </div>
    <button type="submit" class="btn btn-primary">进入</button>

</EditForm>

@if (!_loginPass)
{
    <div class="alert alert-danger" role="alert" style="margin-top:10px">
        传送失败，无效的用户名或密码
    </div>
}

@code {

    private LoginInfo _loginInfo = new LoginInfo();
    private bool _loginPass = true;

    private async void HandleSubmit()
    {
        try
        {
            _loginPass = await AuthStateProvider.LoginAsync(_loginInfo);
        }
        catch (Exception e)
        {
            _loginPass = false;
            Console.WriteLine(e);
        }

        if (_loginPass)
        {
            var uri = new Uri(NavigationManager.Uri);
            if (!QueryHelpers.ParseQuery(uri.Query).TryGetValue("redirect", out var redirectUri))
            {
                if (string.IsNullOrEmpty(redirectUri))
                {
                    redirectUri = "/";
                }
            }

            NavigationManager.NavigateTo(redirectUri);
        }
        else
        {
            StateHasChanged();
        }
    }
}
