@page "/video/{VideoName}"
@inject IConfiguration Configuration

<h1>@VideoName</h1>

<video width="320" height="240" autoplay controls>
    <source src="@_videoUrl" type="video/mp4" />
</video>

@code {

    [Parameter]
    public string VideoName { get; set; }

    private string _videoUrl;

    protected override void OnInitialized()
    {
        var webApiUrl = Configuration.GetValue<string>("puWebApi");
        _videoUrl = $"{webApiUrl}/video/{VideoName}";
        
        base.OnInitialized();
    }
}
