@page "/video/{VideoName}"

<h1>@VideoName</h1>

<video width="320" height="240" autoplay controls>
    <source src="@VideoName" type="video/mp4"/>
</video>

@code {
    
    [Parameter]
    public string VideoName { get; set; }

    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
