@page "/video/{VideoName}"
@inject IConfiguration Configuration
@inject UniverseAuthStateProvider UniverseAuthStateProvider

<h1>@VideoName</h1>

<video width="320" height="240" autoplay controls>
    <source src="@_videoUrl" type="video/mp4" />
</video>

@code {

    [Parameter]
    public string VideoName { get; set; }

    private string _videoUrl;

    protected override async Task OnInitializedAsync()
    {
        var token = await UniverseAuthStateProvider.GetTokenAsync();
        var webApiUrl = Configuration.GetValue<string>("puWebApi");
        _videoUrl = $"{webApiUrl}video/{VideoName}?token={Uri.EscapeDataString(token)}";

        await base.OnInitializedAsync();
    }
}
