@page "/videolist"
@inject HttpClient Http
@inject NavigationManager NavigationManager

<h1>Videos</h1>

@if (_videos == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">        
        <tbody>
            @foreach (var v in _videos)
            {
                <tr>
                    <td>
                    <a href="video/@v.Name">@v.Name</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private VideoInfo[] _videos;

    protected override async Task OnInitializedAsync()
    {
        _videos = await Http.GetFromJsonAsync<VideoInfo[]>("video");
    }
}
