@inherits LayoutComponentBase

@*<div class="sidebar">
    <NavMenu />
</div>*@

<div class="main">

    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <img src="/universe.png" width="50" height="50">
            @*<span style="margin-left:20px">我的平行宇宙</span>*@
            我的平行宇宙
        </a>
    </nav>
    
    <div class="content px-4">
        @Body
    </div>
</div>
